<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Console</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5 mb-5">
    <div class="row mt-3 mb-3">
        <div class="col-12 m-auto text-center"><h1>Game Console</h1></div>
    </div>
    <form action="/" method="post">
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label ">Weapon Respawn Rate (seconds)</label>
                <div class="col-sm-4">
                    <input name="weaponRespawnRate" type="number" class="form-control-plaintext text-right"
                           style="background-color: gainsboro;" value="<%- weaponRespawnRate %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Pistols On Map</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="pistolsOnMap"
                           style="background-color: gainsboro;" value="<%- pistolsOnMap %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Machine Guns On Map</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="machineGunsOnMap"
                           style="background-color: gainsboro;" value="<%- machineGunsOnMap %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Shotguns On Map</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="shotgunsOnMap"
                           style="background-color: gainsboro;" value="<%- shotgunsOnMap %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Bazookas On Map</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="bazookasOnMap"
                           style="background-color: gainsboro;" value="<%- bazookasOnMap %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Pistol Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="pistolDamage"
                           style="background-color: gainsboro;" value="<%- pistolDamage %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Machine Gun Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="machineGunDamage"
                           style="background-color: gainsboro;" value="<%- machineGunDamage %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Shotgun Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="shotgunDamage"
                           style="background-color: gainsboro;" value="<%- shotgunDamage %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Bazooka Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="bazookaDamage"
                           style="background-color: gainsboro;" value="<%- bazookaDamage %>">
                </div>
            </div>
            <div class=" form-group row">
                <label class="col-sm-6 col-form-label">Bazooka Explosion Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="bazookaExplosionDamage"
                           style="background-color: gainsboro;" value="<%- bazookaExplosionDamage %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Barrel Explosion Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="barrelExplosionDamage"
                           style="background-color: gainsboro;" value="<%- barrelExplosionDamage %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombie Respawn Rate (seconds)</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombieRespawnRate"
                           style="background-color: gainsboro;" value="<%- zombieRespawnRate %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombies Per Respawn</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombiesPerRespawn"
                           style="background-color: gainsboro;" value="<%- zombiesPerRespawn %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombies On Map</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombiesOnMap"
                           style="background-color: gainsboro;" value="<%- zombiesOnMap %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombie Attack Damage</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombieAttackDamage"
                           style="background-color: gainsboro;" value="<%- zombieAttackDamage %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombie Attack Speed</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombieAttackSpeed"
                           style="background-color: gainsboro;" value="<%- zombieAttackSpeed %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombie Movement Speed</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombieMovementSpeed"
                           style="background-color: gainsboro;" value="<%- zombieMovementSpeed %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Explosive Barrel Respawn Rate (seconds)</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="barrelRespawnRate"
                           style="background-color: gainsboro;" value="<%- barrelRespawnRate %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Explosive Barrels Per Respawn</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="barrelsPerRespawn"
                           style="background-color: gainsboro;" value="<%- barrelsPerRespawn %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Player Health</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="playerHealth"
                           style="background-color: gainsboro;" value="<%- playerHealth %>">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Zombie Health</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="zombieHealth"
                           style="background-color: gainsboro;" value="<%- zombieHealth %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="border border-primary p-3">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Player Invincibility Duration (seconds)</label>
                <div class="col-sm-4">
                    <input type="number" class="form-control-plaintext text-right" name="invincibilityDuration"
                           style="background-color: gainsboro;" value="<%- invincibilityDuration %>">
                </div>
            </div>
        </div>
        <hr>
        <div class="row m-4">
            <div class="col-12 text-center">
                <button class="btn btn-primary btn-lg">Save Settings</button>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>